
  /* Header Decor */
#header-text {
    text-align: center;
    color: aliceblue;
    background-color: rgb(182, 90, 182);
    padding-top: 5%;
    height: 70px;
    width: 100%;
    
}
  
  /* TABLE Decor */
  table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #9822ff4e;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #b819a54e;
  }
  